[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.7"
djangorestframework = "==3.12.4"
django-filter = "==2.4.0"
drf-spectacular = "==0.18.1"
djangorestframework-simplejwt = "==4.8.0"
django-restful-admin = "==1.1.3"
django-cors-headers = "==3.8.0"

[dev-packages]
debugpy = "*"
django-debug-toolbar = "*"
flake8 = "*"
rope = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
# djnago-api-admin or django-restful-admin?
